@font-face {
  font-family: FS-Me-Bold;
  src: url(fonts/FSMe-Bold.ttf);
}

@font-face {
  font-family: FS-Me-Regular;
  src: url(fonts/FSMe-Regular.ttf);
}

body {
  color: #003430;
  font-family: FS-Me-Regular;
  text-align: center;
}

body {
  background-color: #FAF9F6;
}

h1 {
  font-family: FS-ME-Bold;
  font-size: 30pt;
}

ol {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

img {
  display: block;
  margin-bottom: 10px;
}
