@font-face {
  font-family: FS-Me-Bold;
  src: url(fonts/FSMe-Bold.ttf);
}

@font-face {
  font-family: FS-Me-Regular;
  src: url(fonts/FSMe-Regular.ttf);
}

body {
  background-color: #FAF9F6;
  color: #003430;
  font-family: FS-Me-Regular;
  text-align: center;
}

#img001 {
  display: block; 
  margin: 0 auto;
}

h1 {
  font-family: FS-ME-Bold;
  font-size: 30pt;
}

ol {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.profilepic {
  display: block;
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
}
